################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ICE/.vs/ICE/v15
/ICE/bin
/ICE/obj
/ICE/iceLog.log
/ICE/ice.log
/ICE/RCb09568
/ICE/RCa09568
/ICE/RCa07116
