# Recursos del juego
[General]
FileSystem=./media
Zip=./media/packs/SdkTrays.zip
#FileSystem=./media/thumbnails
FileSystem=./media/materials
FileSystem=./media/models
FileSystem=./media/materials/textures
FileSystem=./media/particle

#[Essential]
#Zip=./media/packs/SdkTrays.zip
#FileSystem=./media/thumbnails
#FileSystem=./media/materials/textures
#FileSystem=./media/models

[level1]
FileSystem=./media/level1
FileSystem=./media/level1/Scripts
FileSystem=./media/level1/Temp
FileSystem=./media/level1/Terrain


[phase2]
FileSystem=./media/phase2

[phase3]
FileSystem=./media/phase3

[Bootstrap]

Zip=media/packs/OgreCore.zip
